/* General */

.ldash-clear {
	clear: both;
}

.ldash-float-left {
	float: left;
}

.ldash-float-right {
	float: right;
}

.ldash-display-none {
	display: none;
}

.ldash-current {
	font-weight: 700;
}