/* Menu Icon */

@font-face {
	font-family: 'ldash-menu-icon';
	src:  url('../images/icons/menu/menu-icon.eot?cet614');
	src:  url('../images/icons/menu/menu-icon?cet614#iefix') format('embedded-opentype'),
		url('../images/icons/menu/menu-icon.ttf?cet614') format('truetype'),
		url('../images/icons/menu/menu-icon.woff?cet614') format('woff'),
		url('../images/icons/menu/menu-icon.svg?cet614#ldash-menu-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dashicons-ldash-menu-icon:before {
	content: "\e900";
	font-family: 'ldash-menu-icon' !important;
}