/* Notices */

.wrap .notice {
	margin-top: 15px;
}

#TB_window .notice {
	margin: 15px 0 0 0; /* within a ThickBox */
}

.notice:not(.ldash-notice) {
	display: none; /* WP notices hidden initially to avoid jumpy behaviour, these become visible once appened to notices container */
}