/* Amendments to WordPress's Core Styles - enqueued only on Lightning Dashboard pages */

h3 {
	font-size: 1.1em; /* WordPress default h3 is same size as h2, looks weird on settings page so changed here */
}

#wpbody-content {
	padding-bottom: 0;
}

#wpfooter {
	display: none;
}